<div class="flex flex-col h-screen">
  <app-header [pageName]="'Comptes utilisateurs'"></app-header>
  <div class="flex-1 px-2 overflow-hidden"><p class="py-6 text-center text-[#575757] text-[24px] w-[100%]">Ajoutez de nouveaux comptes, recherchez les utilisateurs, consultez leurs informations ou modifiez leurs paramètres en toute simplicité</p>
    <div class="flex items-center justify-between px-12">
      <div>
        <p class="font-medium text-[28px] text-center">{{count}}</p>
        <p class="font-regular opacity-75 text-[16px]">Comptes</p>
      </div>
      <a routerLink="/account-management/creer-user" class="ease-in-out duration-200 bg-[#5DADE2] text-white hover:bg-[#4a8cb3] rounded-[10px] text-[20px] px-8 py-[10px]">Nouveau Compte</a>
    </div>
    <div class="bg-white rounded-[16px] mt-6 px-8 h-[calc(100%-190px)] overflow-hidden">
      <div class="flex py-4 text-[#6A6A6A] border-b border-gray-200">
        <p class="w-[16.67%]">Nom</p>
        <p class="w-[16.67%]">Prénom</p>
        <p class="w-[16.67%]">Nom d'utilisateur</p>
        <p class="w-[16.67%]">Rôle</p>
        <p class="w-[16.67%]">Date de création</p>
        <p class="w-[16.67%]">Dernier accédé</p>
      </div>
      <div *ngIf="users.length === 0; else usersList" class="flex flex-col items-center justify-center h-[calc(100%-48px)] text-[#6A6A6A] text-[20px] gap-y-[15px] leading-none">
        <p>Aucun compte disponible.</p>
        <p>Cliquez sur 'Nouveau compte' pour commencer</p>
        <img src="assets/img/usericon.svg" alt="">
      </div>

      <ng-template #usersList>
        <div class="h-[calc(100%-48px)] overflow-y-auto">
          <app-user *ngFor="let user of filteredUsers" [user]="user"></app-user>
        </div>
      </ng-template>
    </div>
  </div>
</div>
